body {
   display:flex;
   align-items: center;
   justify-content: center;
   width:100vh;
   height:100vh;
   background-color: black;
}

button {
   height: 40px;
   width: 250;
   font-size: 17px;
   border-radius: 9px ;
   background-color: aqua;
   color: blue;
   border: none;
}